:global(#app) {
  .field {
    background: transparent;
    border: 1px solid transparent;
    border-radius: 3px;
    box-shadow: none;
    color: #212121;
    font-size: 16px;
    font-weight: 700;
    overflow: hidden;
    padding: 0rem;
    padding: 9px 0rem;
    resize: none;
    width: 100%;

    &:focus {
      background-color: rgba(255, 255, 255, 0.25);
      backdrop-filter: blur(10px);
      padding: 9px 1rem;
      outline: 0;
    }
  }
}
