:global .m-0 {
  margin: 0 !important;
}

:global .mt-0,
:global .my-0 {
  margin-top: 0 !important;
}

:global .mr-0,
:global .mx-0 {
  margin-right: 0 !important;
}

:global .mb-0,
:global .my-0 {
  margin-bottom: 0 !important;
}

:global .ml-0,
:global .mx-0 {
  margin-left: 0 !important;
}

:global .m-1 {
  margin: 0.25rem !important;
}

:global .mt-1,
:global .my-1 {
  margin-top: 0.25rem !important;
}

:global .mr-1,
:global .mx-1 {
  margin-right: 0.25rem !important;
}

:global .mb-1,
:global .my-1 {
  margin-bottom: 0.25rem !important;
}

:global .ml-1,
:global .mx-1 {
  margin-left: 0.25rem !important;
}

:global .m-2 {
  margin: 0.5rem !important;
}

:global .mt-2,
:global .my-2 {
  margin-top: 0.5rem !important;
}

:global .mr-2,
:global .mx-2 {
  margin-right: 0.5rem !important;
}

:global .mb-2,
:global .my-2 {
  margin-bottom: 0.5rem !important;
}

:global .ml-2,
:global .mx-2 {
  margin-left: 0.5rem !important;
}

:global .m-3 {
  margin: 1rem !important;
}

:global .mt-3,
:global .my-3 {
  margin-top: 1rem !important;
}

:global .mr-3,
:global .mx-3 {
  margin-right: 1rem !important;
}

:global .mb-3,
:global .my-3 {
  margin-bottom: 1rem !important;
}

:global .ml-3,
:global .mx-3 {
  margin-left: 1rem !important;
}

:global .m-4 {
  margin: 1.5rem !important;
}

:global .mt-4,
:global .my-4 {
  margin-top: 1.5rem !important;
}

:global .mr-4,
:global .mx-4 {
  margin-right: 1.5rem !important;
}

:global .mb-4,
:global .my-4 {
  margin-bottom: 1.5rem !important;
}

:global .ml-4,
:global .mx-4 {
  margin-left: 1.5rem !important;
}

:global .m-5 {
  margin: 3rem !important;
}

:global .mt-5,
:global .my-5 {
  margin-top: 3rem !important;
}

:global .mr-5,
:global .mx-5 {
  margin-right: 3rem !important;
}

:global .mb-5,
:global .my-5 {
  margin-bottom: 3rem !important;
}

:global .ml-5,
:global .mx-5 {
  margin-left: 3rem !important;
}

:global .p-0 {
  padding: 0 !important;
}

:global .pt-0,
:global .py-0 {
  padding-top: 0 !important;
}

:global .pr-0,
:global .px-0 {
  padding-right: 0 !important;
}

:global .pb-0,
:global .py-0 {
  padding-bottom: 0 !important;
}

:global .pl-0,
:global .px-0 {
  padding-left: 0 !important;
}

:global .p-1 {
  padding: 0.25rem !important;
}

:global .pt-1,
:global .py-1 {
  padding-top: 0.25rem !important;
}

:global .pr-1,
:global .px-1 {
  padding-right: 0.25rem !important;
}

:global .pb-1,
:global .py-1 {
  padding-bottom: 0.25rem !important;
}

:global .pl-1,
:global .px-1 {
  padding-left: 0.25rem !important;
}

:global .p-2 {
  padding: 0.5rem !important;
}

:global .pt-2,
:global .py-2 {
  padding-top: 0.5rem !important;
}

:global .pr-2,
:global .px-2 {
  padding-right: 0.5rem !important;
}

:global .pb-2,
:global .py-2 {
  padding-bottom: 0.5rem !important;
}

:global .pl-2,
:global .px-2 {
  padding-left: 0.5rem !important;
}

:global .p-3 {
  padding: 1rem !important;
}

:global .pt-3,
:global .py-3 {
  padding-top: 1rem !important;
}

:global .pr-3,
:global .px-3 {
  padding-right: 1rem !important;
}

:global .pb-3,
:global .py-3 {
  padding-bottom: 1rem !important;
}

:global .pl-3,
:global .px-3 {
  padding-left: 1rem !important;
}

:global .p-4 {
  padding: 1.5rem !important;
}

:global .pt-4,
:global .py-4 {
  padding-top: 1.5rem !important;
}

:global .pr-4,
:global .px-4 {
  padding-right: 1.5rem !important;
}

:global .pb-4,
:global .py-4 {
  padding-bottom: 1.5rem !important;
}

:global .pl-4,
:global .px-4 {
  padding-left: 1.5rem !important;
}

:global .p-5 {
  padding: 3rem !important;
}

:global .pt-5,
:global .py-5 {
  padding-top: 3rem !important;
}

:global .pr-5,
:global .px-5 {
  padding-right: 3rem !important;
}

:global .pb-5,
:global .py-5 {
  padding-bottom: 3rem !important;
}

:global .pl-5,
:global .px-5 {
  padding-left: 3rem !important;
}

:global .m0-auto {
  margin: 0 auto;
}

:global .text-center {
  text-align: center !important;
}

:global .text-left {
  text-align: left !important;
}

:global .text-right {
  text-align: right !important;
}

:global .h-100 {
  height: 100% !important;
}

:global .w-100 {
  width: 100% !important;
}

:global .bg-white {
  background-color: white !important;
}

:global .font-1 {
  font-size: 1rem !important;
}

:global .font-2 {
  font-size: 2rem !important;
}

:global .font-3 {
  font-size: 3rem !important;
}

:global .d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

:global .justify-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

:global .items-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

:global #app {
  background: #22252a;
}

:global #app .react-datepicker {
  border: 0;
  color: #444444;
  font-size: 14px;
  font-family: "Museo Sans", "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-weight: 400;
  width: 100%;
  padding-bottom: 8px;
}

:global #app .react-datepicker__month-container {
  width: 100%;
}

:global #app .react-datepicker__current-month,
:global #app .react-datepicker-time__header {
  color: #444;
  font-weight: 500;
  font-size: 14px;
  line-height: 32px;
  padding-bottom: 4px;
  text-transform: capitalize;
}

:global #app .react-datepicker__header {
  background: #fff;
  border: 0;
  padding: 0;
}

:global #app .react-datepicker__day-name,
:global #app .react-datepicker__day,
:global #app .react-datepicker__time-name {
  color: #444;
  display: inline-block;
  width: 40px;
  font-weight: 500;
  line-height: 28px;
  text-align: center;
  margin: 0;
  border-style: solid;
  border-width: 0 0 1px 1px;
  border-color: rgba(34, 36, 38, 0.15);
}

:global #app .react-datepicker__day--selected,
:global #app .react-datepicker__day--in-selecting-range,
:global #app .react-datepicker__day--in-range {
  border-radius: 0;
  background: #216ba5;
  color: #fff;
}

:global #app .react-datepicker__day-names,
:global #app .react-datepicker__week {
  border-right: 1px solid #c2ccd1;
}

:global #app .react-datepicker__day-names {
  background: #ebeef0;
  border-top: 1px solid #c2ccd1;
}

:global #app .react-datepicker__day--outside-month {
  color: transparent;
  background: #f5f6f7;
}

:global #app .react-datepicker__month {
  margin: 0;
}

:global #app .react-datepicker__navigation--previous,
:global #app .react-datepicker__navigation--next {
  outline: none;
}

:global #app .react-datepicker__navigation--previous {
  left: 0;
  border-right-color: #999;
}

:global #app .react-datepicker__navigation--next {
  right: 0;
  border-left-color: #999;
}

:global #app .react-datepicker__navigation {
  border-width: 7px 9px;
  top: 0;
  margin: 9px 0;
}

:global #app .react-datepicker__day {
  outline: none;
}

:global #app .react-datepicker__day:hover {
  border-radius: 0;
}

:global #root {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

:global ::-webkit-scrollbar {
  height: 10px;
  width: 10px;
  -webkit-appearance: none;
}

:global ::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 0px;
}

:global ::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  cursor: pointer;
  transition: color 0.2s ease;
  -webkit-transition: color 0.2s ease;
}

:global ::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(0, 0, 0, 0.15);
}

:global ::-webkit-scrollbar-thumb:hover {
  background: rgba(128, 135, 139, 0.8);
}

:global(#app) {
  /* Backgrounds */
}

:global(#app) .colorBerryRed {
  color: #e04556 !important;
}

:global(#app) .colorPumpkinOrange {
  color: #f0982d !important;
}

:global(#app) .colorLagoonBlue {
  color: #109dc0 !important;
}

:global(#app) .colorPinkTulip {
  color: #f97394 !important;
}

:global(#app) .colorLightMud {
  color: #c7a57b !important;
}

:global(#app) .colorOrangePeel {
  color: #fab623 !important;
}

:global(#app) .colorBrightMoss {
  color: #a5c261 !important;
}

:global(#app) .colorAntiqueBlue {
  color: #6c99bb !important;
}

:global(#app) .colorDarkGranite {
  color: #8b8680 !important;
}

:global(#app) .colorLaguneBlue {
  color: #00b4b1 !important;
}

:global(#app) .colorSunnyGrass {
  color: #bfca02 !important;
}

:global(#app) .colorMorningSky {
  color: #52bad5 !important;
}

:global(#app) .colorLightOrange {
  color: #ffc66d !important;
}

:global(#app) .colorMidnightBlue {
  color: #004d73 !important;
}

:global(#app) .colorTankGreen {
  color: #8aa177 !important;
}

:global(#app) .colorGunMetal {
  color: #355263 !important;
}

:global(#app) .colorWetMoss {
  color: #4a8753 !important;
}

:global(#app) .colorRedBurgundy {
  color: #ad5f7d !important;
}

:global(#app) .colorLightConcrete {
  color: #afb0a4 !important;
}

:global(#app) .colorApricotRed {
  color: #fc736d !important;
}

:global(#app) .colorDesertSand {
  color: #edcb76 !important;
}

:global(#app) .colorNavyBlue {
  color: #166a8f !important;
}

:global(#app) .colorEggYellow {
  color: #f7d036 !important;
}

:global(#app) .colorCoralGreen {
  color: #2b6a6c !important;
}

:global(#app) .colorLightCocoa {
  color: #87564a !important;
}

:global(#app) .borderBerryRed {
  border: 0.0625rem solid #e04556 !important;
}

:global(#app) .borderPumpkinOrange {
  border: 0.0625rem solid #f0982d !important;
}

:global(#app) .borderLagoonBlue {
  border: 0.0625rem solid #109dc0 !important;
}

:global(#app) .borderPinkTulip {
  border: 0.0625rem solid #f97394 !important;
}

:global(#app) .borderLightMud {
  border: 0.0625rem solid #c7a57b !important;
}

:global(#app) .borderOrangePeel {
  border: 0.0625rem solid #fab623 !important;
}

:global(#app) .borderBrightMoss {
  border: 0.0625rem solid #a5c261 !important;
}

:global(#app) .borderAntiqueBlue {
  border: 0.0625rem solid #6c99bb !important;
}

:global(#app) .borderDarkGranite {
  border: 0.0625rem solid #8b8680 !important;
}

:global(#app) .borderLaguneBlue {
  border: 0.0625rem solid #00b4b1 !important;
}

:global(#app) .borderSunnyGrass {
  border: 0.0625rem solid #bfca02 !important;
}

:global(#app) .borderMorningSky {
  border: 0.0625rem solid #52bad5 !important;
}

:global(#app) .borderLightOrange {
  border: 0.0625rem solid #ffc66d !important;
}

:global(#app) .borderMidnightBlue {
  border: 0.0625rem solid #004d73 !important;
}

:global(#app) .borderTankGreen {
  border: 0.0625rem solid #8aa177 !important;
}

:global(#app) .borderGunMetal {
  border: 0.0625rem solid #355263 !important;
}

:global(#app) .borderWetMoss {
  border: 0.0625rem solid #4a8753 !important;
}

:global(#app) .borderRedBurgundy {
  border: 0.0625rem solid #ad5f7d !important;
}

:global(#app) .borderLightConcrete {
  border: 0.0625rem solid #afb0a4 !important;
}

:global(#app) .borderApricotRed {
  border: 0.0625rem solid #fc736d !important;
}

:global(#app) .borderDesertSand {
  border: 0.0625rem solid #edcb76 !important;
}

:global(#app) .borderNavyBlue {
  border: 0.0625rem solid #166a8f !important;
}

:global(#app) .borderEggYellow {
  border: 0.0625rem solid #f7d036 !important;
}

:global(#app) .borderCoralGreen {
  border: 0.0625rem solid #2b6a6c !important;
}

:global(#app) .borderLightCocoa {
  border: 0.0625rem solid #87564a !important;
}

:global(#app) .backgroundBerryRed {
  background: #e04556 !important;
}

:global(#app) .backgroundPumpkinOrange {
  background: #f0982d !important;
}

:global(#app) .backgroundLagoonBlue {
  background: #109dc0 !important;
}

:global(#app) .backgroundPinkTulip {
  background: #f97394 !important;
}

:global(#app) .backgroundLightMud {
  background: #c7a57b !important;
}

:global(#app) .backgroundOrangePeel {
  background: #fab623 !important;
}

:global(#app) .backgroundBrightMoss {
  background: #a5c261 !important;
}

:global(#app) .backgroundAntiqueBlue {
  background: #6c99bb !important;
}

:global(#app) .backgroundDarkGranite {
  background: #8b8680 !important;
}

:global(#app) .backgroundLaguneBlue {
  background: #00b4b1 !important;
}

:global(#app) .backgroundSunnyGrass {
  background: #bfca02 !important;
}

:global(#app) .backgroundMorningSky {
  background: #52bad5 !important;
}

:global(#app) .backgroundLightOrange {
  background: #ffc66d !important;
}

:global(#app) .backgroundMidnightBlue {
  background: #004d73 !important;
}

:global(#app) .backgroundTankGreen {
  background: #8aa177 !important;
}

:global(#app) .backgroundGunMetal {
  background: #355263 !important;
}

:global(#app) .backgroundWetMoss {
  background: #4a8753 !important;
}

:global(#app) .backgroundRedBurgundy {
  background: #ad5f7d !important;
}

:global(#app) .backgroundLightConcrete {
  background: #afb0a4 !important;
}

:global(#app) .backgroundApricotRed {
  background: #fc736d !important;
}

:global(#app) .backgroundDesertSand {
  background: #edcb76 !important;
}

:global(#app) .backgroundNavyBlue {
  background: #166a8f !important;
}

:global(#app) .backgroundEggYellow {
  background: #f7d036 !important;
}

:global(#app) .backgroundCoralGreen {
  background: #2b6a6c !important;
}

:global(#app) .backgroundLightCocoa {
  background: #87564a !important;
}

:global(#app) .backgroundOceanDive {
  background: -webkit-gradient(linear, left bottom, left top, from(#062e53), to(#1ad0e0)) !important;
  background: linear-gradient(to top, #062e53, #1ad0e0) !important;
}

:global(#app) .backgroundOldLime {
  background: -webkit-gradient(linear, left top, left bottom, from(#7b920a), to(#add100)) !important;
  background: linear-gradient(to bottom, #7b920a, #add100) !important;
}

:global(#app) .backgroundTzepeschStyle {
  background: -webkit-gradient(linear, left top, left bottom, from(#190a05), to(#870000)) !important;
  background: linear-gradient(to bottom, #190a05, #870000) !important;
}

:global(#app) .backgroundJungleMesh {
  background: -webkit-gradient(linear, left top, left bottom, from(#727a17), to(#414d0b)) !important;
  background: linear-gradient(to bottom, #727a17, #414d0b) !important;
}

:global(#app) .backgroundBlueDanube {
  background: radial-gradient(circle, #090979 0%, #020024 0%, #021d42 0%, #02294e 0%, #02395f 0%, #016990 100%, #0197c0 100%, #00d4ff 100%) !important;
}

:global(#app) .backgroundSundownStripe {
  background: linear-gradient(22deg, #1f1e1e 0%, #ff8000 10%, #ff8000 41%, black 41%, #0066cc 89%) !important;
}

:global(#app) .backgroundMagicalDawn {
  background: radial-gradient(circle, #006b8d 0%, #00455b 90%) !important;
}

:global(#app) .backgroundStrawberryDust {
  background: -webkit-gradient(linear, left top, left bottom, from(#ac4f73), color-stop(66%, #fe9e96)) !important;
  background: linear-gradient(180deg, #ac4f73 0%, #fe9e96 66%) !important;
}

:global(#app) .backgroundPurpleRose {
  background: linear-gradient(128deg, #742b3e 19%, #c04767 90%) !important;
}

:global(#app) .backgroundSunScream {
  background: linear-gradient(112deg, #fbdd13 19%, #ff9901 62%) !important;
}

:global(#app) .backgroundWarmRust {
  background: linear-gradient(141deg, #ff5a08 0%, #580000 96%) !important;
}

:global(#app) .backgroundSkyChange {
  background: linear-gradient(135deg, #003459 0%, #00a8e8 90%) !important;
}

:global(#app) .backgroundGreenEyes {
  background: linear-gradient(138deg, #13aa52 0%, #00662b 90%) !important;
}

:global(#app) .backgroundBlueXchange {
  background: radial-gradient(circle, #294f83, #162c4a) !important;
}

:global(#app) .backgroundBloodOrange {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(10%, #d64759), color-stop(360%, #da7352)) !important;
  background: linear-gradient(360deg, #d64759 10%, #da7352 360%) !important;
}

:global(#app) .backgroundSourPeel {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(10%, #fd6f46), color-stop(360%, #fb9832)) !important;
  background: linear-gradient(360deg, #fd6f46 10%, #fb9832 360%) !important;
}

:global(#app) .backgroundGreenNinja {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(10%, #224e4d), color-stop(360%, #083023)) !important;
  background: linear-gradient(360deg, #224e4d 10%, #083023 360%) !important;
}

:global(#app) .backgroundIceBlue {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(10%, #38aecc), color-stop(360%, #347fb9)) !important;
  background: linear-gradient(360deg, #38aecc 10%, #347fb9 360%) !important;
}

:global(#app) .backgroundEpicGreen {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(10%, #01a99c), color-stop(360%, #0698b1)) !important;
  background: linear-gradient(360deg, #01a99c 10%, #0698b1 360%) !important;
}

:global(#app) .backgroundAlgaeGreen {
  background: radial-gradient(circle farthest-corner at 10% 20%, #005f68 0%, #0f9ca8 90%) !important;
}

:global(#app) .backgroundCoralReef {
  background: linear-gradient(110.3deg, #eeb37b 8.7%, #d8674d 47.5%, #722b36 89.1%) !important;
}

:global(#app) .backgroundSteelGrey {
  background: radial-gradient(circle farthest-corner at -4% -12.9%, #4a626e 0.3%, #1e2130 90.2%) !important;
}

:global(#app) .backgroundHeatWaves {
  background: -webkit-gradient(linear, left top, right top, from(#12c2e9), color-stop(#c471ed), to(#f64f59)) !important;
  background: linear-gradient(to right, #12c2e9, #c471ed, #f64f59) !important;
}

:global(#app) .backgroundWowBlue {
  background: linear-gradient(111.8deg, #00689b 19.8%, #00adef 92.1%) !important;
}

:global(#app) .backgroundVelvetLounge {
  background: radial-gradient(circle farthest-corner at 10% 20%, #970a82 0%, #212121 100.2%) !important;
}

:global(#app) .backgroundLagoon {
  background: radial-gradient(circle farthest-corner at 10% 20%, #006b8d 0%, #00455b 90%) !important;
}

:global(#app) .backgroundPurpleRain {
  background: linear-gradient(91.7deg, #32194f -4.3%, #7a6595 101.8%) !important;
}

:global(#app) .backgroundBlueSteel {
  background: -webkit-gradient(linear, left bottom, left top, from(#09203f), to(#537895)) !important;
  background: linear-gradient(to top, #09203f 0%, #537895 100%) !important;
}

:global(#app) .backgroundBlueishCurve {
  background: linear-gradient(171.8deg, #056f92 13.5%, #063954 78.6%) !important;
}

:global(#app) .backgroundPrismLight {
  background: linear-gradient(111.7deg, #fbc606 2.4%, #e0525f 28.3%, #c24e9a 46.2%, #20adbe 79.4%, #169e5f 100.2%) !important;
}

:global(#app) .backgroundTheBow {
  background: radial-gradient(circle farthest-corner at -8.9% 51.2%, #ff7c00 0%, #ff7c00 15.9%, #ffa34d 15.9%, #ffa34d 24.4%, #131e25 24.5%, #131e25 66%) !important;
}

:global(#app) .backgroundGreenMist {
  background: linear-gradient(180.5deg, teal 8.5%, #aece64 118.2%) !important;
}

:global(#app) .backgroundRedCurtain {
  background: radial-gradient(circle 371px at 2.9% 14.3%, #ff0066 0%, #500523 100.7%) !important;
}
/*# sourceMappingURL=styles.module.css.map */